* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 
body{
    background: antiquewhite;

}

.wrapper{
    max-width: 1107px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.list-unstyled {
    list-style: none;
}

.justify-content-center {
    justify-content:center;
}
 
.text-center {
    text-align: center;
}

body {
    margin: 0;

}

.main-nav {
    background-color: deepskyblue;
    color: white;
    width: 100%;
    border: black 1px solid;
}
 
.main-nav img {
    height: 48px;
}
 
.main-nav h3 {
    font-size: 36px;
    margin: 0 ;
}
 
.main-nav ul {
     margin: 0 ;
    
}
 
.main-nav li {
    line-height: 48px;
    font-size: 30px;
    padding: 0 40px;
    cursor: pointer;
}
 
.main-nav li:hover {
    background-color: mediumblue;
    color: yellow;
}
 
main {
    
    position: relative;
    
}
 
main img {
    opacity: 0.3;
    width: 100%;
}
 
main h1 {
    position: absolute;
    font-size: 70px;
    top: 40px;
    left: 100px;
}
 
main h2 {
    position: absolute;
    font-size: 70px;
    bottom: 60px;
    right: 200px;
}
 
.creat { 
    background-color: white;
    
    line-height: 70px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 
.creat img {
    opacity: 0.7;
}
 
.creat p {
    color: red;
    
}
 
.show {
    background-color: cornsilk;
    font-size: 30px;
    
}
 
.show p {
    background-color: khaki;
    margin: 20px auto;
    color: tomato;
    
}
.show img {
     width: 1107px;;
 }

.howto {
    background-color: aquamarine;
}
 
.howto h1 {
    font-size: 30px;
    margin-right: 70px;
}
 
.howto li {
    font-size: 30px;
    color: azure;
    padding: 0 40px;
}
 
.howto li:hover {
    background: mediumblue;
    color: darkorange;
}
  





 

 

